.bottom {
  display: flex;
  padding: 60px 0;
  background-color: $primary-bg-color;
}
.botom__list{
  padding: 0;

   list-style: none;
}
.bottom__item:not(:last-child){
  margin-bottom: 9px;
}
.address-link {
  color: $white-color;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.bottom__title{
  color: $white-color;

font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
}
.bottom__tumb{
  display: flex;
  align-items: baseline;
}
.bottom__link:hover,.bottom__link:focus{
  background-color: $accent-color;
}
.bottom__form{
  position: relative;
  
  margin-left: 93px;
}
.bottom__box{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2F303A;
  padding-left: 16px;
}

.bottom__button{
position: absolute;
top: 35px;
left: 370px;
border: 212px;
min-height: 50px;
  


}
.icon-subscribe{
  padding-left: 10px;
}