.hero {
  padding: 200px 0;

display: flex;
  background-color: $primary-bg-color;
}
.hero__title {
  margin-bottom: 30px;

  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
    display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  border-radius: 4px;
  padding:10px 32px;
  margin-left: auto;
  margin-right: auto;

  color: $white-color ;
  background-color: $accent-color ;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}