
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50% ,-50%);

min-width: 528px;
min-height:  581px;

  background-color:$white-color;

  padding: 40px;
}
.closed{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: $white-color;
  cursor: pointer;
  
  top: 8px;
  right: 8px;

   transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.closed:hover{
  fill: $accent-color;
}
.form-title{
  margin-bottom: 12px;
  font-weight: 700;

font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: $title-text-color;
}
.form{
width: 100%;
}
.form-grup{
position: relative;
width: 448px;

margin-bottom: 10px;
 transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.form-grup:focus-visible{
  color: $accent-color;
}
.form-text{
  display: inline-block;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color:$primary-text-color;

margin-bottom: 4px;
}
.form-imput{
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
cursor: pointer;

padding-left: 42px;
 transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.form-imput:focus{
  outline: none;
  border:1px solid $accent-color;
}
.form-imput:focus + .form-icon{
fill:$accent-color;
}
.form-icon{
position: absolute;
top: 50%;
left: 12px;
 transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.form-coment{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 4px;
}
.form-coments{
 width: 448px;
height: 120px;
 
  padding: 12px 16px;
   transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.form-coments:focus{
outline: none;
border:1px solid $accent-color;

}
.form-coments::placeholder{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}
.form-options{
display: flex;
align-items: center;
justify-content: center;

font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color:$primary-text-color;
}

.form-tick{
display: flex;
width: 16px;
height: 15px;

  border: 2px solid $title-text-color;
  border-radius: 2px;

  margin-right: 7px;

}
.form-contract{
  text-decoration: none;
}
.checkbox{
  appearance: none;
  position: absolute;
}
.checkbox:checked + .form-tick{
  border-color: transparent;
background-color: $accent-color;
background-image: url(../images/full-check.svg);
background-size: contain;
background-origin: border-box;
}

.form-sent{
margin-top: 30px;

display: flex;
background:$accent-color;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
justify-content: center;
cursor: pointer;

  width: 200px;
  height: 50px;

font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: $white-color;
 margin-left: auto;
 margin-right: auto;
}
.overlay{
 background-image:linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),
 url(../images/Img\(1\)\(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

}