.work{
  padding-top:0;
}
.work-second-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
color: #212121;
}
.work-list{
    display: flex ;
}
.work-item:not(:last-child){
  margin-right: 30px;
}
.overly-work{
position: absolute;
background-color: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;
color: var(--white-color);
right: 0;
bottom: 0;
}
.work-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;
}